/* On screens that are 992px or less, set the background color to blue */
@media only screen and (max-width: 600px){
    .index{
      background-color: Salmon;
  }
  .index-container #h2 {
    text-align: left;
    padding-left: 150px;
  }
  .index-container .img{
    border: 25px solid;
    width: 30%;
    position: absolute;
    border-radius: 8px;
    border: solid white;
    float: left;
  }
  .index-container #par1{
    width: 270px;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    font-family: "Times New Roman";
    font-size: 20px;
    color: white;
    left: 330px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .hobby-class {
    background-color: Salmon;  }
}
